<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"><head>
    <meta charset="UTF-8">
    <title>Sửa thông tin phòng ban</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<section class="container mt-5" layout:fragment="content">
    <h1>Sửa thông tin phòng ban</h1>
    <form th:action="@{/phongban/edit/{id}(id=${phongBan.maPhong})}" th:object="${phongBan}" method="post">
        <input type="hidden" th:field="*{maPhong}" />
        <div class="form-group">
            <label for="tenPhong">Tên phòng:</label>
            <input type="text" class="form-control" id="tenPhong" th:field="*{tenPhong}">
        </div>
        <button type="submit" class="btn btn-primary">Lưu</button>
    </form>
    <a href="/phongban/list" class="btn btn-secondary">Quay lại danh sách</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</section>
</body>
</html>
