<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Danh sách nhân viên</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<section class="container mt-5" layout:fragment="content">
    <h1>2180605077-Nguyễn Ngọc Phong</h1>
    <h1>Danh sách nhân viên</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Mã NV</th>
            <th scope="col">Tên NV</th>
            <th scope="col">Phái</th>
            <th scope="col">Nơi sinh</th>
            <th scope="col">Mã phòng</th>
            <th scope="col">Lương</th>
            <th scope="col">Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="nhanVien : ${listNhanVien}">
            <td th:text="${nhanVien.maNV}"></td>
            <td th:text="${nhanVien.tenNV}"></td>
            <td>
                <img th:src="@{${nhanVien.phai == 'NU' ? '/images/Nu.jpg' : '/images/Nam.png'}}" alt="Gender" class="img-thumbnail" style="width:50px; height:50px;">
            </td>
            <td th:text="${nhanVien.noiSinh}"></td>
            <td th:text="${nhanVien.phongBan.maPhong}"></td>
            <td th:text="${nhanVien.luong}"></td>
            <td>
                <!-- Chỉ hiển thị các chức năng chỉnh sửa và xóa nếu có quyền ROLE_ADMIN -->
                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <a th:href="@{/nhanvien/edit/{id}(id=${nhanVien.maNV})}" class="btn btn-sm btn-primary">Sửa</a>
                    <a th:href="@{/nhanvien/delete/{id}(id=${nhanVien.maNV})}" class="btn btn-sm btn-danger">Xóa</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Chỉ hiển thị nút thêm nhân viên mới nếu có quyền ROLE_ADMIN -->
    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
        <a href="/nhanvien/add" class="btn btn-primary">Thêm nhân viên mới</a>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
