<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"><head>
    <meta charset="UTF-8">
    <title>Danh sách phòng ban</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<section class="container mt-5" layout:fragment="content">
    <h1>Danh sách phòng ban</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Mã phòng</th>
            <th scope="col">Tên phòng</th>
            <th scope="col">Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="phongBan : ${listPhongBan}">
            <td th:text="${phongBan.maPhong}"></td>
            <td th:text="${phongBan.tenPhong}"></td>
            <td>
                <a th:href="@{/phongban/edit/{id}(id=${phongBan.maPhong})}" class="btn btn-sm btn-primary">Sửa</a>
                <a th:href="@{/phongban/delete/{id}(id=${phongBan.maPhong})}" class="btn btn-sm btn-danger">Xóa</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/phongban/add" class="btn btn-primary">Thêm phòng ban mới</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</section>
</body>
</html>
